/* General Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2c0e22;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Playfair Display', serif;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.my-name {
  font-size: 1rem;
  opacity: 0.7;
  margin-bottom: 2rem;
}

/* Flower Container */
.flower-container {
  position: relative;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-end;
}

/* Flower Stem */
.flower-stem {
  width: 0.5rem;
  height: 15rem;
  background-color: #104d4e;
  border-radius: 1rem;
  margin: 0 auto;
}

/* Flower Leaf Styles */
.flower {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flower-leaf {
  width: 2.5rem;
  height: 4rem;
  background-color: #fa7373;
  border-radius: 50% 50% 0 0;
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
  animation: open-flower 1s ease forwards;
}

/* Flower Leaf Colors and Rotations */
.flower-leaf--1 {
  background-color: #ff5ea2;
  transform: rotate(-40deg);
}
.flower-leaf--2 {
  background-color: #ff85a2;
  transform: rotate(-20deg);
}
.flower-leaf--3 {
  background-color: #ffa085;
  transform: rotate(0deg);
}
.flower-leaf--4 {
  background-color: #e7d977;
  transform: rotate(20deg);
}
.flower-leaf--5 {
  background-color: #cdbf45;
  transform: rotate(40deg);
}
.flower-leaf--6 {
  background-color: #82c341;
  transform: rotate(60deg);
}
.flower-leaf--7 {
  background-color: #5ab97a;
  transform: rotate(80deg);
}
.flower-leaf--8 {
  width: 3rem;
  height: 5rem;
  background-color: #ff7a8e;
  transform: rotate(-60deg);
}

/* Animation for Flower Petals Opening */
@keyframes open-flower {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

/* Falling Petals */
.flower-fall--yellow {
  animation: fall-animation 5s infinite;
}

.flower-fall--pink {
  animation: fall-animation 6s infinite;
}

.flower-fall--purple {
  animation: fall-animation 7s infinite;
}

@keyframes fall-animation {
  0% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100vh) rotate(360deg);
  }
}
